body {
    margin: 0;
    text-align: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    /* 16px = 100% = 1em */
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* 16px = 100% = 1em */
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    width: 70%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #40514e;
    text-align: left;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    color: #11999E;
}

hr {
    border: dotted #495454 5px;
    border-bottom: none;
    width: 5%;
    margin: 70px auto;
}

ul {
    list-style: none;
}

.top-container {
    background-color: #E4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 75px 0;
}

.intro-para {
    width: 70%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #40514e;
    text-align: left;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/*.profile-image{
margin-top: 60px;
}*/
.skill-image {
    display: inline-block;
    margin: 20px;
}

.profile p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.contact-me h3 {
    margin-bottom: 20px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 26px;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.blog-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 50%;
    padding: 1rem;
}

.post{
    background-color: white;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--dark)
}

/*.post:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}*/

.post img{
    object-fit: cover;
    border: 1px solid #ddd
}

.post .blog-description{
    margin: 10px 0;
    height: 30%;
    text-align: left;
}

.post .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: cornflowerblue;
}

.more p{
    font-size: 16px;
    text-transform: uppercase;
}

.more i{
    font-size: 25px;
}

.blog-heading{
    text-align: left;
    margin: 1px 0;
}